div.bottomNav
{
	border-top:1px solid #454545;
	padding-top:2px;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	height:48px;
	overflow-x:visible;
	overflow-y: hidden;
	white-space:nowrap;
	z-index:100;
	background:#666 url('../images/tabbar.png') top left repeat-x;
	min-width:320px;
}
div.bottomNav.woot
{
	background-color:#61861E;
}
div.bottomNav.shirt
{
	background-color:#216294;
}
div.bottomNav.wine
{
	background-color: #8A1B26;
}
div.bottomNav.kids
{
	background-color: #FFE086;
}
div.bottomNav.sellout
{
	background-color:#4B437D;
}
div.bottomNav.settings
{
	background-color:#7F7F7F;
}
div.bottomNav div.navItem
{
	text-transform:uppercase;
	font-size:9px;
	color:#000;
	font-weight:bold;
	font-family:coconut,arial;
	height:48px;
	width:65px;
	margin:0 3px;
	padding:0px;
	float:left;
	text-align:center;
	line-height:82px;
	white-space:nowrap;
	position:relative;
	z-index:150;
}
div.bottomNav div#highlighter
{
	position:absolute;
	bottom:1px;
	width:66px;
	height:48px;
	-webkit-transition-duration: 350ms;
	-webkit-transition-timing-function:ease-out;
	z-index:125;
	background: url('../images/tabitem.png') center center no-repeat;
}
div.bottomNav div.leftArrow
{
	position:fixed;
	bottom:16px;
	left:3px;
	width:16px;
	height:24px;
	background:url('../images/left_arrow.png') center center no-repeat;
	z-index:175;
}
div.bottomNav div.rightArrow
{
	position:fixed;
	bottom:16px;
	right:3px;
	width:16px;
	height:24px;
	background:url('../images/right_arrow.png') center center no-repeat;
	z-index:175;
}
div.bottomNav div.navItem.first
{
	margin-left:23px;
}
div.bottomNav div.navItem.last
{
	
}
/*** THE HIGHLIGHTER STUFF ***/
div.bottomNav div#highlighter.woot
{
	left:22px;
}
div.bottomNav div#highlighter.shirt
{
	left:93px;
}
div.bottomNav div#highlighter.sellout
{
	left:165px;
}
div.bottomNav div#highlighter.kids
{
	left:234px;
}
div.bottomNav div#highlighter.wine
{
	left:303px;
}

/*** END OF NAV SlIDER ***/

div.bottomNav div.navItem
{
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function:ease-out;
}
div.bottomNav div.navItem.woot
{
	background: url('../images/nav/woot.png') center center no-repeat;
}
div.bottomNav div.navItem.woot.highlight
{
	background: url('../images/nav/woot-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.shirt
{
	background: url('../images/nav/shirt.png') center center no-repeat;
}
div.bottomNav div.navItem.shirt.highlight
{
	background: url('../images/nav/shirt-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.wine
{
	background: url('../images/nav/wine.png') center center no-repeat;
}
div.bottomNav div.navItem.wine.highlight
{
	background: url('../images/nav/wine-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.sellout
{
	background: url('../images/nav/sellout.png') center center no-repeat;
}
div.bottomNav div.navItem.sellout.highlight
{
	background: url('../images/nav/sellout-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.kids
{
	background: url('../images/nav/kids.png') center center no-repeat;
}
div.bottomNav div.navItem.kids.highlight
{
	background: url('../images/nav/kids-highlight.png') center center no-repeat;
	color:#FFF;
}

#updateIcon
{
	background: url('../images/update_icon.png') center center no-repeat;
	width:40px;
	height:40px;
	top:4px;
	left:8px;
	z-index:1000;
	position:fixed;
}
#updateIcon.loading
{
	background: transparent url('../images/update_loading.gif') center center no-repeat;
}