div#bottomNavWrapper
{
	border-top:1px solid #454545;
	white-space: nowrap;
	position: fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	z-index: 100;
	height:48px;
	background: url('../images/tabbar.png') top left repeat-x;
	-webkit-transition-duration: 350ms;
	-webkit-transition-timing-function:ease-out;
}
div#bottomNavWrapper.woot
{
	background-color:#61861E;
}
div#bottomNavWrapper.shirt
{
	background-color:#216294;
}
div#bottomNavWrapper.wine
{
	background-color: #8A1B26;
}
div#bottomNavWrapper.kids
{
	background-color: #FFE086;
}
div#bottomNavWrapper.sellout
{
	background-color:#4B437D;
}

div.bottomNav
{
	position: absolute;
	white-space: nowrap;
	bottom:0px;
	margin: 0 auto;
	text-align:center;
}

div.bottomNav div.navItem
{
	text-transform:uppercase;
	font-size:9px;
	color:#E8E8E8;
	font-weight:bold;
	font-family:coconut,arial;
	height:48px;
	width:62px;
	margin:0 3px;
	padding:0px;
	float:left;
	text-align:center;
	line-height:82px;
	white-space:nowrap;
	position:relative;
	z-index:150;
	display: inline-block;
}
div.bottomNav div#highlighter
{
	position:absolute;
	bottom:1px;
	width:62px;
	height:48px;
	-webkit-transition-duration: 350ms;
	-webkit-transition-timing-function:ease-out;
	z-index:125;
	background: url('../images/tabitem.png') center center no-repeat;
}
div.bottomNav div.leftArrow
{
	position:fixed;
	bottom:16px;
	left:3px;
	width:16px;
	height:24px;
	background:url('../images/left_arrow.png') center center no-repeat;
	z-index:175;
}
div.bottomNav div.rightArrow
{
	position:fixed;
	bottom:16px;
	right:3px;
	width:16px;
	height:24px;
	background:url('../images/right_arrow.png') center center no-repeat;
	z-index:175;
}
div.bottomNav div.navItem.first
{
	margin-left:18px;
}
div.bottomNav div.navItem.last
{
	margin-right:18px;
}
div.bottomNav div.navItem
{
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function:ease-out;
}
div.bottomNav div.navItem.woot
{
	background: url('../images/nav/woot.png') center center no-repeat;
}
div.bottomNav div.navItem.woot.highlight
{
	background: url('../images/nav/woot-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.shirt
{
	background: url('../images/nav/shirt.png') center center no-repeat;
}
div.bottomNav div.navItem.shirt.highlight
{
	background: url('../images/nav/shirt-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.wine
{
	background: url('../images/nav/wine.png') center center no-repeat;
}
div.bottomNav div.navItem.wine.highlight
{
	background: url('../images/nav/wine-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.sellout
{
	background: url('../images/nav/sellout.png') center center no-repeat;
}
div.bottomNav div.navItem.sellout.highlight
{
	background: url('../images/nav/sellout-highlight.png') center center no-repeat;
	color:#FFF;
}
div.bottomNav div.navItem.kids
{
	background: url('../images/nav/kids.png') center center no-repeat;
}
div.bottomNav div.navItem.kids.highlight
{
	background: url('../images/nav/kids-highlight.png') center center no-repeat;
	color:#FFF;
}