.img_icon {
	position:absolute;
	left:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/icon-32x32.png) no-repeat center center;
	padding: 10px 0px 0px 5px;
}
.img_email {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_phone {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-phone.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_web {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
